<div class="div">
    <h1 ngClass='welcome'>Welcome to our shop</h1>

<!-- <div class="myForm">
    <h3>are you customer?</h3>
    <button class="btn btn-success" (click)='yes()'>Yes</button>
    <button class="btn btn-danger" (click)='no()'>No</button>

</div> -->
<form ngClass="my-form">
    <label for="email">email</label>
    <input type="text" class="form-control" #email>
    <label for="password">password</label>
    <input type="password" class="form-control" #password>
    <button class="btn btn-success" (click)='logIn()' >log in</button>
</form>
</div>